<section class="bg-dark vh-100">
    <div class="container">
        <div class="row py-5">
            <div class="col-6">
                <h2 class="text-start text-white">Google Map Search Autocomplete</h2>
                <div class="form-group">
                    <input type="text" class="form-control" id="search_input" placeholder="Type address..." />
                </div>
            </div>
            <div class="col-6">
                <div class="map-view">
                    <div #gmap style="width:600px;height:450px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>